.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*,
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8cac1;
  padding: 10px;
  margin: 5px;
  text-align: center;
  letter-spacing: 1px;
  animation: fadein 2s;
  text-transform: lowercase;
}

a {
  color: #fd9153;
}

h1 {
  font-weight: bold;
  color: #4a72ff;
  letter-spacing: 3px;
  background:none;
}

h2 {
  background: #fd9153;
  border-radius:10px;
  border:10px solid #4a72ff;
}

h3 { 
  background:#f8cac1;
  border-radius:10px;

}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container {
  display: inline-block;
  margin:20px;
  border: 10px solid #4a72ff;
  border-radius: 10px;
  background: #fff;
  width: 575px;
  box-shadow: 10px 10px #2e2025;
}

#container p {
  background: #fff;
}

#container img{
  width:90%;
  background:transparent;
}

#container:hover {
  border: 10px solid #fd9153;
}

#navbar ul {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 10px solid #4a72ff;
  border-radius: 10px;
  box-shadow: 10px 10px #2e2025;
}

#navbar h1 {
  background: #f8cac1;
  border-radius:10px;
  padding: 5px;
  text-align: left;
  display: inline-block;
  border:none;
}

#navbar li {
  padding-left: 50px;
  display: inline-block;
  text-align: right;
  background: #fff;
}

#navbar li a {
  display: block;
  text-align: right;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 5px solid #4a72ff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin:100px;
  border: 10px solid #4a72ff;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 10px #2e2025;
}

.row:hover {
  border: 10px solid #fd9153;
}
